{% extends "layout.html" %}
{% block title %}Start{% endblock %}
{% block content %}
<div class="item">
  <div class="banner-tight">
    <h1>Start</h1>
  </div>
  {% if zone %}
  <div class="project_form">
      <p>Finding new projects in <span style="font-weight: bold;">{{ zone }}</span></p>
    </div>
    {% endif %}
  {% with item=item %}
  {% include "_item.html" %}
  {% endwith %}
</div>


<div class="item">
  <div class="info">
    <form action="{{ url_for('begin') }}" method="post">
      <p class="center">Comparison voting begins after you see your first project. Please click <b>CONTINUE</b> after seeing this project or <b>SKIP</b> if you cannot find this project.</p>
      <div class="radio-group">
        <div id="vote-continue" class="radio-button button-full button-gap" style="display: flex; justify-content: start; gap: 8px; width: 100%; padding-left: 8px;">
          <input type="radio" name="action" id="vote-continue-radio" value="Continue">
          <label for="vote-continue-radio" class="radio-button-label" style="color: white; font-weight: 500; width: 100%;">Continue</label>
        </div>
  
        <div id="vote-skip" class="radio-button button-full button-gap" style="display: flex; justify-content: start; gap: 8px; width: 100%; padding-left: 8px;">
          <input type="radio" name="action" id="vote-skip-radio" value="Skip" checked>
          <label for="vote-skip-radio" class="radio-button-label" style="color: white; font-weight: 500; width: 100%;">Skip</label>
        </div>
      </div>

      <input type="submit" name="action" value="Submit" id="vote-submit" class="button-full button-gap" style="border: none; border-radius: 4px;">

      <input type="hidden" name="item_id" value="{{ item.id }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>

    <script src="{{ url_for('static', filename='js/smart-button-toggle.js') }}"></script>
  </div>
</div>
{% endblock %}
