{% extends "layout.html" %}
{% block title %}Wait{% endblock %}
{% block content %}
<div class="item">
  <div class="banner" id="wait-header">
    <h1>Wait</h1>
  </div>
  <div class="info">
    {{ content }}
  </div>
  {% if zone_options %}
  <div class="info" style="margin-top: 4em">
    More projects may be available in another location.
  {% block zoneswap %}
  <div>
    <form action="{{ url_for('set_zone') }}" method="post">
      <p>Showing projects from...</p>
      <select type="dropdown" name="next-zone" id="select-next-zone">
        {% if zone_opt %}
          <option value=""><span style="font-style: italic">Any</span></option>>
        {% else %}
          <option value=""><span style="font-style: italic" selected>Any</span></option>>
        {% endif %}
        {% for zone_opt in zone_options %}
          {% if zone_opt == zone %} 
          <option value="{{ zone_opt }}" selected>{{ zone_opt }}</option>
          {% else %}
          <option value="{{ zone_opt }}">{{ zone_opt }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <input type="submit" value="Confirm"/>
    </form>
  </div>
  {% endblock %}

  {% block TEMP %}
  <div>
    Viewed:
    <ul>
      {% for p_viewed in viewed %}
        <li>{{ p_viewed }}</li>
      {% endfor %}
    </ul>
    Ignored:
    <ul>
      {% for p_ig in ignored %}
        <li>{{ p_ig }}</li>
      {% endfor %}
    </ul>
    </div>
  {% endblock %}
  </div>

  {% endif %}
</div>
{% endblock %}
