{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="item">
  <div class="banner">
    <h1>Welcome</h1>
  </div>
  <div class="info">
    {{ content }}
  </div>
  {% block zoneswap %}
    <div class="zone">
      <form action="{{ url_for('set_zone') }}" method="post" class="project_form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="Submit"/>
      </form>
    </div>
  {% endblock %}
</div>

<div style="margin-top: 16px;">
  <div class="item">
    <div class="info">
      <form action="{{ url_for('welcome_done') }}" method="post">
        <label for="select-next-zone">
          Select your starting building.
        </label>
        <select type="dropdown" name="next-zone" id="select-next-zone" style="height: 32px;" required>
          {% if not zone_opt %}
            <option value="" selected></selected></option>>
          {% endif %}
          {% for zone_opt in zone_options %}
            {% if zone_opt == zone %} 
            <option value="{{ zone_opt }}" selected>{{ zone_opt }}</option>
            {% else %}
            <option value="{{ zone_opt }}">{{ zone_opt }}</option>
            {% endif %}
          {% endfor %}
          <option value="" selected><span style="font-style: italic">(all buildings)</span></option>>
        </select>
        <input type="submit" name="action" value="Continue" class="button-full button-gap positive">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
    </div>
  </div>
</div>
{% endblock %}
